*{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    list-style-type: none;
    border: none;
}

.container{
    width: 922px;
    height: 782px;
    background-image: linear-gradient(
        #434291,
        #8526c3

    );
    margin: auto;
    padding: 65px 78px 78px 78px;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}

.head{
    height: 78px;
    margin-bottom:147px;
    width: 766px;
   
}

.head p{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
}

.body{
    height: 498px;
    display: flex;
    align-items: center;
}

.pre, .ess{
    color: #404B5F !important;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 50px;
}

.pre{
    width: 60%;
    height: 100%;
    box-shadow: #404b5f 0.5px 0 20px 0px;
    z-index: 2; 
}

.ess{
    width: 40%;
    height: 305px;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}

h1{
    font-size: 30px;
    font-weight: 600 !important;
    position: relative;
}
.head h1{
    font-size: 34px;
}

ol{
    padding: 0;
    font-size: 16px; 
}

li{
    border-bottom: solid 2px #6633992e;
    padding: 15px 0;  
}

.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    background-color: #E5AF40;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 600;
    width: 120px ;
    height: 55px; 
}

.pre p{
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}


.price{
    width: 120px;
    height: 52px;
    font-size: 50px;
    font-weight: bold;
    margin-top: -20px;
    
}

.price::before{
    content: '$';
    vertical-align: super;
    font-size: 20px;
}

.price::after{
    content: 'USD';
    vertical-align: sub;
    font-size: 15px;
    font-weight: 300;
}

