*{
    /* box-sizing: border-box; */
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    border: none;
}

.container{
    width: 50vw;
    height: 90vh;
    background-color: #51509B;
    margin: auto;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}
.head{
    height: 10%;
    padding: 0 5% 5% 0;
   
}
.head p{
    font-size: 12px;
    font-weight: 600;
    
}

.body{
    height: 80%;
    display: flex;
    align-items: center;
    
    
}
.pre, .ess{
    padding: 5% 5% 10% 5%;
    color: #404B5F !important;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.pre{
    width: 60%;
    height: 90%;
    box-shadow: #404b5f 0.5px 0 20px 0px;
    z-index: 2;
    
}
.ess{
    width: 40%;
    height: 55%;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}
h1{
    font-size: 25px;
}
ol{
    padding: 0;
    font-size: 12px;
    
}
li{
    border-bottom: solid 2px #6633992e;
    padding: 15px 0;
    
}

.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    background-color: #E5AF40;
    color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 600;
    width: 85px ;
    height: 40px;
}
.pre p{
    font-size: 12px;
    font-weight: 600;
}

.price{
    width: 100px;
    height: 50px;
    font-size: 40px;
    font-weight: bold;
}
.price::before{
    content: '$';
    vertical-align: super;
    font-size: 20px;
}
.price::after{
    content: 'USD';
    vertical-align: sub;
    font-size: 15px;
    font-weight: 300;
}
